# eclipse
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.buildpath

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# oktatea
/src/.htaccess
/src/oktOptions.custom.php

# oktatea config
/src/Okatea/config/connexion.php
/src/Okatea/config/conf_*.yml
!/src/Okatea/config/conf_site.yml
/src/Okatea/config/routes/*/*.yml
!/src/Okatea/config/routes/*/__okatea_core.yml
/src/Okatea/config/routes_admin/*.yml
!/src/Okatea/config/routes/*/__okatea_core.yml

# oktatea cache
/src/Okatea/cache/**
!/src/Okatea/cache/.gitkeep

# oktatea assets
/src/oktPublic/cache/**
!/src/oktPublic/cache/index.html
/src/oktPublic/components/**
!/src/oktPublic/components/index.html
/src/oktPublic/modules/**
!/src/oktPublic/modules/index.html
/src/oktPublic/upload/**
!/src/oktPublic/upload/index.html

# oktatea build
/build/

# vendor
/src/vendor/
