# eclipse
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.buildpath

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# oktatea
/src/.htaccess
/src/oktPrepend.php

# oktatea config
/src/oktInc/config/connexion.php
/src/oktInc/config/conf_*.yaml
!/src/oktInc/config/conf_site.yaml

# oktatea cache
/src/oktInc/cache/minify/minify_*
/src/oktInc/cache/modulesRepositoriesInfos.php
/src/oktInc/cache/static.php
/src/oktInc/cache/versions/
/src/oktInc/cache/routing/


/src/oktPublic/cache/**
!/src/oktPublic/conf/index.html

# oktatea themes
/src/oktThemes/*/modules/**
!/src/oktThemes/*/modules/index.html

# oktatea build
/build/

/src/vendor/
