#page {
	margin: 0 2em;
}

#banner {
	margin: 2em 0 1em 0;
}

#banner h1 {
	font-size: 1.5em;
	margin: 0;
	padding: 0.5em 0 0 0.8em;
}

#banner span.version {
	font-size: 0.9em;
	font-style: italic;
	font-weight: normal;
	font-family: "Trebuchet MS", Verdana, helvetica, "Bitstream Vera Sans",
		sans-serif;
}

#banner #desc {
	margin: 0;
	padding: 0.2em 0 0.8em 1.2em;
}

#ariane {
	margin-bottom: 1em;
}

#ariane {
	display: inline-block;
	zoom: 1;
}

#ariane:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/* required comment for clearfix to work in Opera \*/
* html #ariane {
	height: 1%;
}

#ariane {
	display: block;
}
/* end clearfix */
#page-title {
	padding: 0.3em 0.5em;
	margin: 0;
	font-weight: normal;
}

#content {
	padding: 0.8em 1em;
	margin: 0;
	border: 1px solid #A6C9E2;
}

#footer {
	clear: both;
	margin: 1em 0;
	padding: 0.1em 0.8em;
	text-align: right;
	font-size: 0.9em;
}

#footer p {
	margin: 0;
	text-align: right;
}

#languageChoice {
	list-style: none;
}

#languageChoice a {
	text-decoration: none;
}

#languageChoice a.current {
	font-weight: bold;
}

ul.checklist {
	list-style: none;
	margin: 1em 0;
}

ul.checklist li {
	list-style: none;
	line-height: 1.6;
}

ul.checklist ul {
	margin: 0 0 0 2em;
}

div.checklistlegend {
	font-size: 0.9em;
	color: #666;
}

div.checklistlegend p {
	font-weight: bold;
}

ul.checklistlegend {
	list-style: none;
}

ul.checklistlegend li {
	list-style: none;
	display: inline;
	margin-right: 2em;
}

#themes_list_choice,
#modules_list_choice {
	list-style: none;
	margin: 0;
	padding: 0;
}
	#themes_list_choice li,
	#modules_list_choice li {
		margin: 0;
	}

.extension {
	margin: 0.5em;
	padding: 0.8em;
}
	.extension .left {
		float: left;
		margin-right: 1em;
	}
	.extension h3 {
		margin-top: 0;
	}


#drivers {
	-webkit-column-count: 2;
	-webkit-column-gap : 3em;
	-moz-column-count: 2;
	-moz-column-gap : 3em;
	column-count: 2;
	column-gap : 3em;
}
	#drivers li {
		break-inside: avoid-column;
	}


/* Stepper
----------------------------------------------------------*/
#ariane ul {
	width: 1020px;
	list-style: none;
	margin: 10px auto;
	clear: both;
}

#ariane ul a {
	text-decoration: none;
	color: #a9a9a9;
}

#ariane ul li {
	float: left;
	width: 9%;
	background: url(Assets/img/arrow.gif) repeat-x right 6px;
	text-align: left;
}

#ariane ul li span {
	display: block;
	margin: auto;
	margin-right: 50%;
	text-align: center;
	border: 1px solid #a9a9a9;
	width: 19px;
	height: 19px;
	line-height: 19px;
	background-color: #ffffff;
}

#ariane ul li span a {
	display: block;
	width: 19px;
	height: 19px;
	margin: 0px;
}

#ariane ul li span a.active,#ariane ul li.active span a,#ariane ul li.past span a:hover,#ariane ul li.past:hover span a
	{
	background-color: #1D5987;
	color: #ffffff;
}

#ariane ul li a {
	display: block;
	margin-right: 20%;
	text-align: center;
}

#ariane ul li.past {
	background-position: right -106px;
}

#ariane ul li.active {
	background-position: right -48px;
}

#ariane ul li#lastStep {
	background-position: right -214px;
}

#ariane ul li#lastStep.active {
	background-position: right -162px;
}

#ariane ul li.active a:hover,#ariane ul li.past a:hover,#ariane ul li.past a,#ariane ul li.active a
	{
	color: #1D5987;
}

#ariane ul li.active span a:hover {
	color: #ffffff;
}

#ariane ul li.past:hover {
	cursor: hand;
	cursor: pointer;
}

#ariane ul li.past span,#ariane ul li.active span {
	border: 1px solid #1D5987;
}

/* Formulaires
----------------------------------------------------------*/
form {
	display: block;
	margin: 0;
	padding: 0;
}

fieldset {
	margin: 1.8em 0 1em;
	padding: 0.5em;
	border: none;
	border-top: 1px solid #ddd;
}

legend {
	margin: 0;
	padding: 0.2em 0.8em;
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	font-style: italic;
}

label {
	cursor: pointer;
}

label.error {
	color: #c00;
	font-style: italic;
	font-size: 0.9em;
}

.formfocus {
	border: 1px solid #F09100;
}

input,textarea,select {
	font-family: "Trebuchet MS", Verdana, helvetica, "Bitstream Vera Sans",
		sans-serif;
	background-color: #fdfdfd;
	border: 1px solid #ccc;
	font-size: 1em;
}

.checkbox {
	vertical-align: middle;
	border: none;
}

.radio {
	vertical-align: text-bottom;
	border: none;
}

select {

}

option {
	padding: 0 0.3em;
}

optgroup option {
	padding-left: 1em;
}

input.text,textarea {
	padding: 1px;
}

input.error,textarea.error {
	border: 1px dotted #c00;
}

p.field {
	margin: 0.5em 0;
}

p.field label,p.field .fake-label {
	display: block;
	display: table-cell;
}

p.field label.inline,label.inline {
	display: inline;
}

p.field label.inline2 {
	display: inline-block;
	width: 75px;
}

p label.labelCheckbox {
	width: 10em;
}

ul.field {
	list-style: none;
	margin: 1em 0;
}

ul.field li {
	margin: 0.5em 0;
}

/* Colonnes
----------------------------------------------------------*/
.two-cols,.three-cols,.four-cols {
	position: static;
	zoom: 1;
}

.two-cols:after,.three-cols:after,.four-cols:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.two-cols .col,.three-cols .col,.four-cols .col {
	float: left;
	margin-right: 1%;
	padding: 1px 0;
}

.two-cols .col {
	width: 48%;
}

.three-cols .col {
	width: 32%;
}

.four-cols .col {
	width: 24%;
}
