
@import "common";

#page_insert {
	width: 100%;

	.page-title,
	.page-title a {
		.commonLink();
		text-decoration: none;
		margin-bottom: 0;
		padding-bottom: 0;
		text-align: left;
	}

	.page-subtitle {
		color: @second_text_color;
		margin: 0;
		padding: 0;
	}

	.page-content {
		line-height: 160%;
		text-align: justify;
	}

	.page-images {
		float: left;
		margin: 0 1em 1em 0;

		img {
			.commonImage();
		}
	}

	.read-more-link-wrapper {
		text-align: right;
		margin: 0;
		padding: 0;
	}

	.read-more-link {
		.commonLink();
	}
}