/*
 * Feuille de style de l'administration
 *
 */


/* Layout
----------------------------------------------------------*/

#page {
	margin: 0 2em;
}
#page-simple {
	border: none;
	padding: 0.5em;
}
#access-link,
#access-link a {
	margin: 0;
	color: #888;
	text-align: right;
	font-size: 0.9em;
	text-decoration: none;
}

#banner {
	margin: 0;
}
	#banner h1 {
		font-size: 1.5em;
		margin: 0;
		padding: 0.5em 0 0 0.8em;
	}
	#banner #desc {
		margin: 0;
		padding: 0.2em 0 0.8em 1.2em;
	}
#mainMenu-top {
	margin: 0.8em 0;
	position: static;
	zoom: 1;
}
#mainMenu-top:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
	#mainMenu-top>li {
		width: auto;
		float: left;
	}
		#mainMenu-top>li a {
			padding: 0.3em 1em;
		}
	#mainMenu-top ul {
		z-index: 1000;
	}
#mainMenu-top.fixed {
	position: fixed;
	top:0;
}
#helpers {
	margin: 0.8em 0;
	position: static;
	zoom: 1;
}
#helpers:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
	#messages {
		float: left;
		width: 58%;
	}
		#breadcrumb {
			margin: 1em 0;
			padding: 0 0 0 0.5em;
			font-family: "Trebuchet MS", Verdana, helvetica, "Bitstream Vera Sans", sans-serif;
			font-size: 1.1em;
			font-weight: normal;
		}
			#breadcrumb a {
				text-decoration: none;
			}
			#breadcrumb a:hover {
				text-decoration: underline;
			}
		#messages .errors_box, #messages .warnings_box, #messages .success_box, #messages .infos_box {
			z-index: 100;
			position: absolute;
			right: 3em;
			top: 2.5em;
			width: auto;
		}
	#welcome {
		float: right;
		width: 38%;
		text-align: right;
		margin: 0;
		padding: 0.3em 0.8em;
		font-size: 0.9em;
		list-style: none;
	}
		#welcome p {
			margin: 0;
		}

#main-right {
	float: left;
	margin-right: -200px;
	margin-top: 0;
	width: 100%;
}
	#main-right #content {
		margin: 2px 200px 10px 0;
	}
#main-left {
	float: right;
	margin-left: -200px;
	margin-top: 0;
	width: 100%;
}
	#main-left #content {
		margin: 2px 0 10px 200px;
	}

#mainMenu-left {
	float: left;
	margin-bottom: 10px;
	margin-top: 0;
	width: 180px;
}
#mainMenu-right {
	float: right;
	margin-bottom: 10px;
	margin-top: 0;
	width: 180px;
}
	.sub-menu {
		margin: 0;
		list-style: none;
		line-height: 145%;
		font-size: 1.1em
	}
		.sub-menu li {
			position: relative;
		}
		.sub-menu .ui-icon {
			position: absolute;
			left: -20px;
			margin-top: 3px;
		}
		.sub-menu a {
			text-decoration: none;
		}
		.sub-menu a:hover {
			text-decoration: underline;
		}
#content {
	padding: 0;
	border: none;
	background: none;
}
#footer {
	clear: both;
	margin: 1em 0;
	padding: 0.1em 0.8em;
	text-align: right;
	font-size: 0.9em;
}

/* Spécificités de la page de connexion
----------------------------------------------------------*/

#adminpage-connexion #mainMenu{
	display: none;
}
#adminpage-connexion #main-left,
#adminpage-connexion #main-right {
	float: none;
	margin: 0;
	text-align: center;
}
#adminpage-connexion #page-title,
#adminpage-connexion #content {
	text-align: left;
	width: 250px;
	margin: 0 auto;
	padding: 10px;
}



/* Formulaires
----------------------------------------------------------*/

form {
	display: block;
	margin: 0;
	padding: 0;
}

fieldset {
	margin: 1.8em 0 1em;
	padding: 0.5em;
	border: none;
	border-top: 1px solid #ddd;
}
legend {
	margin: 0;
	padding: 0.2em 0.8em;
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	font-style: italic;
}

label {
	cursor: pointer;
}
label.error {
	color: #c00;
	font-style: italic;
	font-size: 0.9em;
}

.formfocus {
	border: 1px solid #F09100;
}

input, textarea, select {
	font-family: "Trebuchet MS", Verdana, helvetica, "Bitstream Vera Sans", sans-serif;
	background-color: #fdfdfd;
	border: 1px solid #ccc;
	font-size: 1em;
}

.checkbox {
	vertical-align: middle;
	border: none;
}
.radio {
	vertical-align: text-bottom;
	border: none;
}

select {
}
option {
	padding: 0 0.3em;
}
optgroup option {
	padding-left: 1em;
}


input.text, textarea {
	padding: 1px;
}

input.error, textarea.error {
	border: 1px dotted #c00;
}


p.tablefield {
	padding-bottom: 1em;
	margin: 0;
	zoom: 1;
}
p.tablefield:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
p.tablefield label {
	display: block;
	float: left;
	text-align: right;
	width: 15em;
	padding: 0 1em 0 0;
}

p.tablefield label.fichierRub {
	width: 18em;
}

p.tablefield label.labelCheckbox {
	text-align: left;
}

p.tablefield label.error {
	float: none;
	display: inline;
	padding: 0;
	text-align: left;
	padding: 0 0 0 1em;
}
p.fake-tablefield {
	margin-left: 16em;
}

p.field {
	margin: 0.5em 0;
}

p.field.inline {
	margin: 0.5em;
}

p.ligne, p.ligne3 {
	float: left;
	margin-left: 1em;
}
p.ligne {
	width:45%;
}
p.ligne3 {
	width:28%;
}

p.ligne label {
	float: left;
	width:66%;

}

p.field label, p.field .fake-label {
	display: block;
	display: table-cell;
}
p.field label.inline, label.inline { display: inline; }
p.field label.inline2 { display: inline-block; width: 75px; }

p label.labelCheckbox {
	width:10em;
}

ul.field {
	list-style: none;
	margin: 1em 0;
}

ul.field li {
	margin: 0.5em 0;
}

p.yesno {}

p.yesno label {}

/* champs requis */
.required {
	font-weight: bold;
}
.required:before {
	content: '* ';
	color: #c00;
}

.htaccess { white-space: pre; overflow-x: auto; overflow-y: hidden; width: 100%; }


/* Tableaux
----------------------------------------------------------*/

table.common {
	width: 100%;
	margin: 0;
	padding: 0;
	vertical-align: top;
	border-collapse: separate;
}
table.common p {
	margin: 0;
}
table.common caption {
	text-indent: -9999px;
	position: absolute;
}
table.common th,
table.common td.fake-th {
	padding: 0.3em 0.5em;
/*	border-bottom: 1px solid #333; */
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}
table.common td,
table.common th.fake-td {
	padding: 0.5em;
/*	border-bottom: 1px solid #f1f1f1; */
	vertical-align: top;
}

table.common th.odd,
table.common td.odd {
}
table.common th.even,
table.common td.even {
/*	background-color: #fafafa;  /* (Sad Song) */
}

table.common th .title,
table.common td .title {
	margin: 0;
	font-size: 1.1em;
	font-weight: bold;
	white-space: normal;
}

table.common tfoot td {
	border-top: 1px solid #ccc;
	border-bottom: none;
	font-style: italic;
}
.large,
table.common .large {
	width: 100%;
}
.small,
table.common .small {
	width: 1px;
	padding-left: 0.5em;
	padding-right: 1em;
}
.nowrap,
table.common .nowrap {
	white-space: nowrap;
}
.center,
table.common .center {
	text-align: center;
}
.left,
table.common .left {
	text-align: left;
}
.right,
table.common .right {
	text-align: right;
}


/* Pagination
----------------------------------------------------------*/

.pagination { display: inline-block; zoom: 1; }
.pagination:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
/* required comment for clearfix to work in Opera \*/
* html .pagination { height:1%; }
.pagination { display:block; }
/* end clearfix */

.pagination {
	border: 0;
	margin: 1em 0;
	padding: 0;
	zoom: 1;
}
.pagination li {
	border: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-right: 2px;
	display: block;
	float: left;
}
.pagination .active,
.pagination a {
	display: block;
	padding: 3px 6px;
	text-decoration: none;

}
.pagination a:hover {
}


/* Diff rendering
----------------------------------------------------------*/
table.diff {
	background-color: #fff;
	width: 100%;
}
td.diff-blockheader {
	font-weight: bold;
}
table.diff th {
	border-bottom: 1px solid #8cacbb;
	font-size: 110%;
	width: 50%;
	font-weight: normal;
	text-align: left;
}
table.diff th a {
		font-weight: bold;
}
table.diff th span.user {
		color: #000;
		font-size: 80%;
}
table.diff th span.sum {
		font-size: 80%;
		font-weight: bold;
}
table.diff th.minor {
	font-style: italic;
}
table.diff td {
	font-family: monospace;
	font-size: 100%;
}
td.diff-addedline,
span.diff-addedline {
	background-color: #ddffdd;
}
td.diff-deletedline,
span.diff-deletedline {
		background-color: #ffffbb;
}
td.diff-context {
		background-color: #f5f5f5;
}
table.diff td.diff-addedline strong,
table.diff td.diff-deletedline strong {
		color: red;
}


/* Logs admin
----------------------------------------------------------*/

#log-admin-list {}
#log-admin-list tr.type_0 { background-color: #eeffee; }
#log-admin-list tr.type_10 { background-color: #ffffee; }
#log-admin-list tr.type_20,
#log-admin-list tr.type_30 { background-color: #ffeeee; }


/* Divers...
----------------------------------------------------------*/

ul.checklist {
	list-style: none;
	margin: 1em 0;
}
	ul.checklist li {
		list-style: none;
		line-height: 1.6;
	}
	ul.checklist ul {
		margin: 0 0 0 2em;
	}

div.checklistlegend {
	font-size: 0.9em;
	color: #666;
}
div.checklistlegend p {
	font-weight: bold;
}
ul.checklistlegend {
	list-style: none;
}
ul.checklistlegend li {
	list-style: none;
	display: inline;
	margin-right: 2em;
}

ul.actions {
	list-style: none;
	margin: 0;
	font-weight: normal;
}
ul.actions li {
	list-style: none;
	line-height: 1.6;
}

ul.menuList {
	margin-left: 0;
	padding-left: 0;
}
ul.menuList li {
	display: inline;
	list-style: none;
	padding: 0.3em 1.2em 0.3em 0;
}

.toggle-helpers {
	font-size: 0.9em;
}

.toggle-imgs {
	vertical-align: baseline;
}

.disabled {
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

img.preload {
	display: none;
}

/* tableau de debug backtrace */
.debug-backtrace {
}

.debug-backtrace pre {
	width: 250px;
	height: auto;
	overflow: auto;
}


/* avertissement msie à jour */
#updates-notifications {
	margin: 0.6em 35%;
	padding: 0.2em 0.6em;
	text-align: left;
	background: #FFFFEE url(../img/admin/emblem-important.png) no-repeat 95% 15%;
	border: 1px solid #FFFF00;
}

/* message avertissement */
.warning {
	color: #c00;
	font-size: 1.1em;
}

/* note informative */
.note {
	display: block;
	font-size: 0.9em;
	color: #666;
}
.note a {
	color: #666;
}

.lockable-note {
	display: block;
	font-size: 0.9em;
	font-style: italic;
	color: #c00;
}
.lockable-note a {
	color: #c00;
}

/* boites d'erreurs, d'avertissements et de messages */
.errors_box, .warnings_box, .success_box {
	margin: 0.6em;
	padding: 0.2em 0.6em;
	text-align: center;
}
.errors_box p, .warnings_box p, .success_box p {
	margin: 0;
}
.errors_box ul, .warnings_box ul, .success_box ul {
	text-align: left;
	margin: 0;
	padding-left: 1em;
}

/* boite erreur */
.errors_box {
	background-color: #FFEEEE;
	border: 1px solid red;
}

/* boite avertissement */
.warnings_box {
	background-color: #FFFFEE;
	border: 1px solid #FFFF00;
}

/* boite message */
.success_box {
	background-color: #EEFFEE;
	border: 1px solid #009900;
}

/* boite commune */
.box {
	border: 1px solid #cccccc;
	border-top: 2px solid #cccccc;
	margin-bottom: 1em;
	-moz-border-radius: 8px;
}

.box .title {
	margin: 0;
	background-color: #E8E8E8;
	padding: 0.3em;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
}

.box .actions {
	padding: 0.5em;
	clear: both;
}

.box .actions ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.box .actions li {
	display: inline;
	margin-right: 1.5em;
}

#alertMsie {
	width: 80%;
	margin: 0 auto;
}


/* Colonnes
----------------------------------------------------------*/

.two-cols, .three-cols, .four-cols {
	position: static;
	zoom: 1;
}
.two-cols:after, .three-cols:after, .four-cols:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.two-cols .col, .three-cols .col, .four-cols .col {
	float: left;
	margin-right: 1%;
	padding: 1px 0;
}

.two-cols .col {
	width: 48%;
}
.three-cols .col {
	width: 32%;
}
.four-cols .col {
	width: 24%;
}

.two-cols .right, .three-cols .right, .four-cols .right {
	float: right;
}

.two-cols textarea,
.two-cols input[type=text],
.two-cols input[type=password] {
	width: 70%;
}
.two-cols select {
	width: 71%;
}

.three-cols textarea,
.three-cols input[type=text],
.three-cols input[type=password] {
	width: 80%;
}
.three-cols select {
	width: 81%;
}

.four-cols textarea,
.four-cols input[type=text],
.four-cols input[type=password] {
	width: 90%;
}
.four-cols select {
	width: 92%;
}

.clearer {
	clear: both;
}

.floatLeft {
	float: left;
}
.floatRight {
	float: right;
}

.imgLeft {
	float: left;
	margin: 0 0.5em 0.5em 0;
}

.floatLeftEspace {
	float: left;
	padding: 0 1em 1em 0;
}


/* Catégories
----------------------------------------------------------*/

#categories_lists, #rubriques_lists {
	margin: 1em 0 2em;
}

#categories_lists ul, #rubriques_lists ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#categories_lists ul li, #rubriques_lists ul li {
	margin: 1em 0 0 0;
	padding: 5px 10px 1em 30px;
	border: 1px solid #ccc;
	background: transparent url(../img/admin/cat-bg.png) repeat-y top left;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#categories_lists ul li p, #rubriques_lists ul li p {
	margin: 0;
}

.category-url, .rubrique-url {
	font-style: italic;
	font-size: 0.9em;
}

#categories_forms form, #rubriques_forms form {
	margin-bottom: 3em;
}

#sortable, .sortable {
	list-style-type: none;
	margin: 0;
	padding: 0;
/*	width: 90%; */
}

#sortable li, .sortable li {
	margin: 3px;
	padding: 0.4em;
	padding-left: 1.5em;
	height: 18px;
}

#sortable li span, .sortable li span {
	position: absolute;
	margin-left: -1.3em;
}


/* Boutons languages switcher JS
----------------------------------------------------------*/

.lang-switcher-buttons {
	display: inline-block;
	margin-bottom: 0px;
}
.lang-switcher-button {
	padding: 0 3px 1px 3px;
	margin: 2px;
}
.lang-switcher-buttons .button_on { }
.lang-switcher-buttons .button_off {
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}
.lang-switcher-buttons .button_off:hover {
	filter: alpha(opacity=90);
	-moz-opacity: 0.9;
	opacity: 0.9;
}


/* Outils gestion par lots
----------------------------------------------------------*/

#form-list-batches {
	position: static;
	zoom: 1;
}
#form-list-batches:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
#form-list-batches #checkboxHelper {
	float: left;
	text-align: left;
	width: 49%
}
#form-list-batches #actionsChoices {
	float: right;
	text-align: right;
	width: 49%;
	white-space: nowrap;
}
#form-list-batches #actionsChoices {
	width: auto;
}


/* Boutons
----------------------------------------------------------*/

p.buttonset {
	margin: 0 0 1em 0;
}

.double-buttonset {
	margin: 0;
	padding: 0;
	position: static;
	zoom: 1;
}
.double-buttonset:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
	.double-buttonset .buttonsetA {
		float: left;
		width: 48%;
		width: 72%;
	}
	.double-buttonset .buttonsetB {
		float: right;
		width: 48%;
		width: 25%;
		text-align: right;
	}
	.buttonsetA .buttonset {
		float: left;
	}
	.buttonsetB .buttonset {
		float: right;
	}


/*
	Overlay ; pour personnaliser l'icone du loader
	on peut utiliser ces sites :
		- http://ajaxload.info/
		- http://preloaders.net/
----------------------------------------------------------*/

#overlay, #loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#overlay {
	z-index: 9998;
	background-color: #aaaaaa;

	filter: alpha(opacity=40);
	-moz-opacity: 0.4;
	opacity: 0.4;
}
#loader {
	z-index: 9999;
	background: transparent url(../img/ajax-loader/big-circle-ball.gif) no-repeat center center;
}

.help {
	margin-left:20px;
}


/* jInfos, jSuccess, jError, jOverlay
----------------------------------------------------------*/

#jInfos,
#jSuccess,
#jWarning,
#jError {
	position: absolute;
	font-size: 1.17em;
	padding: 10px;
	padding-left: 50px;
	margin: 15px;
	border: 1px solid;
	z-index: 9999;
	-moz-border-radius : 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}
#jInfos a,
#jSuccess a,
#jWarning a,
#jError a {
	text-decoration: none;
}

#jInfos {
	background: #DBECFF url('../img/notify/info.png') no-repeat 15px center;
	color: #2850C1;
	border-color: #9FC7F5;
}
	#jInfos a {
		color: #2850C1 !important;
	}

#jSuccess {
	background: #D4FFCD url('../img/notify/success.png') no-repeat 15px center;
	color: #258815;
	border-color: #9ADF8F;
}
	#jSuccess a {
		color: #258815 !important;
	}

#jWarning {
	background: #FEFCCB url('../img/notify/warning.png') no-repeat 15px center;
	color: #D16704;
	border-color: #F57F0A;
}
	#jWarning a {
		color: #D16704 !important;
	}

#jError {
	background: #FFD2D3 url('../img/notify/error.png') no-repeat 15px center;
	color: #8F2121;
	border-color: #DF8F90;
}
	#jError a {
		color: #8a1f11 !important;
	}

#jOverlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9998
}
