/*
 * Feuille de style de la partie publique
 *
 */



/* Pagination
----------------------------------------------------------*/

.pagination { display: inline-block; zoom: 1; }
.pagination:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
/* required comment for clearfix to work in Opera \*/
* html .pagination { height:1%; }
.pagination { display:block; }
/* end clearfix */

.pagination {
	border: 0;
	margin: 1em 0;
	padding: 0;
	clear: both;
}
.pagination li {
	border: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-right: 2px;
	display: block;
	float: left;
}

.pagination .active,
.pagination a {
	display: block;
	padding: 3px 6px;
	text-decoration: none;
}

/* couleurs */
.pagination .active,
.pagination a {
	color: #333;
	border: 1px solid #333;
	background-color: #ccc;
}
.pagination .active {
	color: #666;
	border: 1px solid #666;
	background-color: #ccc;
}
.pagination a:hover {
	color: #eee;
	border: 1px solid #eee;
	background-color: #333;
}


/* Colonnes
----------------------------------------------------------*/

.two-cols, .three-cols, .four-cols {
	position: static;
	zoom: 1;
}
.two-cols:after, .three-cols:after, .four-cols:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.two-cols .col, .three-cols .col, .four-cols .col {
	float: left;
	margin-left: 1%;
	padding: 1px 0;
}
.two-cols .col {
	width: 48%;
}
.three-cols .col {
	width: 32%;
}
.four-cols .col {
	width: 24%;
}

.clearer {
	clear: both;
}


/* Smart columns
----------------------------------------------------------*/

ul.smartColumns {
	width: 100%;
	padding: 0;
	margin: 10px 0;
	list-style: none;
}
ul.smartColumns li.column {
	float: left;
	width: 200px; /*Set default width*/
	padding: 0;
	margin: 5px 0;
	display: inline;
}
ul.smartColumns li.column .block {
	height: 355px;
	font-size: 1em;
	margin-right: 10px; /*Creates the 10px gap between each column*/
	padding: .2em;
	position: relative;
}
ul.smartColumns li.column .block h3 {
	margin: 0;
	padding: .3em .3em .5em .5em;
}
ul.smartColumns li.column .block h3 a {
	text-decoration: none;
}
ul.smartColumns li.column .block img {
	/*Flexible image size with border*/
	width: 89%;  /*Took 1% off of the width to prevent IE6 bug*/
	padding: 5%;
	background:#fff;
	margin: 0 auto;
	display: block;
	-ms-interpolation-mode: bicubic; /*prevents image pixelation for IE 6/7 */
}

ul.smartColumns li.column ul.actions {
	position: absolute;
	bottom: .2em;
}
ul.smartColumns li.column ul.actions li {
	display: inline;
	margin-right: .8em;
}
ul.smartColumns li.column ul.note li {
	list-style: none;
}
