
@import "common";

body {
	font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
	font-size: 95%;
	color: @main_text_color;
	background: #000;
}

#global {
	background: @main_background_color url('@{theme_url}/images/bg.jpg') repeat-x 0 0;
}

#page {
	padding-top: 218px;
	background: transparent url('@{theme_url}/images/page.jpg') no-repeat top center;
}

header {
	width: 960px;
	.center-block();
	position: relative;
}
	#head {
	}
		#head .title {
			.visuallyhidden();
		}
		#head .description {
			position: absolute;
			top: 155px;
			left: 225px;
			color: @third_text_color;
			font-size: 1.17em;
		}

	#access-links {
		.visuallyhidden();
	}
	#lang-switcher {
		position: absolute;
		right: 5px;
		top: 167px;
		margin: 0;
		padding: 0;
		list-style: none;
	}

#main-navigation {
	width: 960px;
	.center-block();
}
	nav {
		height: 30px;
		padding: 10px 0 0;
		text-align: center;
		font-weight: bold;
		font-size: 1.1em;

		a {
			color: @main_text_color;
			text-decoration: none;
			.transition(~"color linear .2s");

			&:hover {
				color: @second_text_color;
				text-decoration: none;
			}
		}
	}
		nav ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		nav li {
			display: inline-block;
			.ie7-inline-block();
			margin: 0 25px 0 0
		}

#navigation-helpers {
	width: 960px;
	.center-block();

	a {
		.commonLink();
		color: @fourth_text_color;
	}

	.clearfix();
}
	#graphic-title {
		.visuallyhidden();
	}

	#breadcrumb {
		float: left;
		margin: 3px 0 0;
		padding: 5px 10px;
		color: @fourth_text_color;
	}


#main {
	width: 960px;
	.center-block();
}

h1 {
	color: @second_text_color;
	font-size: 1.4em;
	margin: 1.8em 0 1em;
	text-align: center;
}

footer {
	margin-top: 2em;
	background: #000 url('@{theme_url}/images/bg-footer.jpg') repeat-x top center;

	#bottom {
		text-align: center;
		background: transparent url('@{theme_url}/images/footer.jpg') no-repeat bottom center;
		height: 187px
	}

	#bottom-line {
		font-size: 0.9em;
		color: @fourth_text_color;
		margin: 0;
		padding-top: 0.7em;
	}
}
