
@import "common";

body {
	font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
	font-size: 95%;
	color: @main_text_color;
	background: #000;
}

#global {
	background: @main_background_color url('@{theme_url}/images/bg.jpg') repeat-x 0 0;
}

#page {
	padding-top: 218px;
	background: transparent url('@{theme_url}/images/page.jpg') no-repeat top center;
}

header {
	width: 960px;
	.center-block();
	position: relative;
}
	#head {
	}
		#head .title {
			.visuallyhidden();
		}
		#head .description {
			position: absolute;
			top: 155px;
			left: 225px;
			color: @fourth_text_color;
			font-size: 1.17em;
		}

	#access-links {
		.visuallyhidden();
	}
	#lang-switcher {
		position: absolute;
		right: 5px;
		top: 155px;
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			display: inline-block;
			.ie7-inline-block();
			padding: 0 0 0 5px;
		}
	}

#main-navigation {
	width: 960px;
	.center-block();
}
	nav {
		height: 33px;
		padding: 8px 0 0;
		text-align: center;
		font-weight: bold;
		font-size: 1.1em;

		a {
			.commonLink();
			text-decoration: none;
			.transition(~"color linear .2s");
		}
	}
		nav ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		nav li {
			display: inline-block;
			.ie7-inline-block();
			margin: 0;
			padding: 3px 10px;
		}

		nav li + li {
			border-left: 1px solid #BFBFBF;
		}

#navigation-helpers {
	position: relative;

	.clearfix();

	width: 960px;
	.center-block();

	a {
		.commonLink();
		color: @fourth_text_color;
	}
}
	#graphic-title {
		position: absolute;
		right: 3px;
		top: -78px;
		color: @third_text_color;
		font-variant: small-caps;
		font-size: 1.5em
	}

	#breadcrumb {
		float: left;
		margin: 3px 0 0;
		padding: 5px 10px;
		color: @fourth_text_color;
	}


#main {
	.clearfix();
	width: 960px;
	.center-block();
}
	#content {
		float: left;
		width: 710px;
	}
	#sidebar {
		float: right;
		width: 230px;
		padding-top: 30px;
	}
		#download-insert {
			.border-radius(4px);
			background-color: #F28528;
			border: 1px solid #F28528;
			padding: 0.8em;

			h2, h3, p, a {
				color: #fff;
				text-align: center;
			}

			h2 {
				margin-top: 0;
				background: transparent url('@{theme_url}/images/download.png') no-repeat 0 0;
			}

			.version {
				float: left;
				width: 48%;

				h3 {
					margin: 0;
					padding: 0.8em 0 0 0;
				}
				p {
					margin: 0;
					padding: 0.5em 0 1em;
				}
				a {
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}
				abbr {
					border-bottom: none;
				}
			}
			.github {
				clear: both;
				margin: 0;
				padding: 0.8em 0 0 0;
			}
		}
		#latest-news {
			margin-top: 1em;
			.border-radius(4px);
			background-color: #D6D6D6;
			border: 1px solid #D6D6D6;
			padding: 0.8em;

			h2 {
				margin-top: 0;
			}
		}

h1 {
	color: @main_title_color;
	font-size: 1.4em;
	margin: 1.8em 0 1em;
}
h2 {
	color: @second_title_color;
	font-size: 1.2em;
}
h3 {
	color: @third_title_color;
	font-size: 1.1em;
}

a {
	.commonLink();
}

footer {
	margin-top: 2em;
	background: #000 url('@{theme_url}/images/bg-footer.jpg') repeat-x top center;

	#bottom {
		text-align: center;
		background: transparent url('@{theme_url}/images/footer.jpg') no-repeat bottom center;
		height: 187px
	}

	#bottom-line {
		font-size: 0.9em;
		color: @fourth_text_color;
		margin: 0;
		padding-top: 0.7em;
	}
}
