
@import "common";

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 85%;
}

#page {
	color: @main_text_color;
	background-color: @main_background_color;
}

header {
	color: @fourth_text_color;
	background-color: @fourth_background_color;
	padding: 0.3em;
	.clearfix();
}
	#head {
		float: left;
	}
		#head .title {
			font-size: 1.5em;

			a {
				color: @fourth_text_color;
				text-decoration: none;
			}
		}
		#head .description {
			font-style: italic;
		}

	#lang-switcher {
		float: right;
		margin: 0;
		padding: 0;
		list-style: none;
	}

#main-navigation {
	color: @fourth_text_color;
	background-color: @third_background_color;
}
	nav {
		padding: 0.3em;

		a {
			color: @fourth_text_color;
			text-decoration: none;
			.transition(~"color linear .2s");

			&:hover {
				color: @third_text_color;
				text-decoration: none;
			}
		}
	}
		nav ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		nav li {
			display: inline-block;
			margin: 0 2em 0 0.5em
		}

#navigation-helpers {
	background-color: @second_background_color;

	a {
		.commonLink();
	}

	.clearfix();
}
	#graphic-title {
		font-size: 1.2em;
		padding: 0.3em;
		float: right;
	}

	#breadcrumb {
		float: left;
		padding: 0.5em;
	}


#main {
	width: 95%;
	margin: 0 auto;
}
h1 {}

footer {
	font-size: 0.9em;
	text-align: center;
}
